#superContainer 
{ 
	position: fixed;
	left : 330px;
	height: 80%;
	width: 70%;
	border:solid 2px #363636;
	-moz-border-radius: 1px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background-color : #e8e8e8;
	overflow: scroll;
	z-index: 2; 
}
#jsContainer {
	height: 100%;
}
#sidebar
{
	position: fixed;
	width: 200px;
	border:solid 2px #363636;
	-moz-border-radius: 1px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background-color : #e8e8e8;
  	text-align: center;
}
.window 
{ 
	width: 80px;
	height: 80px;
	padding: 0.5em;
	position: absolute;
	border:solid 5px #42c260;
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px;
	-moz-box-shadow: 1px 0px 8px #82a385;
	-webkit-box-shadow: 1px 0px 8px #82a385;
	box-shadow: 1px 0px 8px #82a385;
	background-color: white;
}
.diamond-text {
	text-align: center;
	-webkit-transform-origin: 5% 100%;
   -moz-transform-origin: 5% 100%;
   -ms-transform-origin: 5% 100%;
   -o-transform-origin: 5% 100%;
   transform-origin: 5% 100%;
	-webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   -o-transform: rotate(45deg);
   transform: rotate(45deg);
}

#sidebar li {
	height: 120px;
}
#sidebar ul {
	list-style-type: none;
	padding : 0px;
}
.diamond {
   width: 80px; 
   height: 80px;
   margin: 3px 0 0 30px;
   position: absolute;
   border:solid 5px #42c260;
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px;
	-moz-box-shadow: 1px 0px 8px #82a385;
	-webkit-box-shadow: 1px 0px 8px #82a385;
	box-shadow: 1px 0px 8px #82a385;
	background-color: white;
   /* Rotate */
   -webkit-transform-origin: 50% 50%;
   -moz-transform-origin: 50% 50%;
   -ms-transform-origin: 50% 50%;
   -o-transform-origin: 50% 50%;
   transform-origin: 50% 50%;
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   transform: rotate(-45deg);
   /* Rotate Origin 
   -webkit-transform-origin: 0 100%;
   -moz-transform-origin: 0 100%;
   -ms-transform-origin: 0 100%;
   -o-transform-origin: 0 100%;
   transform-origin: 0 100%;*/
}

._jsPlumb_connector {
	z-index: -1;
}
._jsPlumb_endpoint {
	z-index: -1;
}
